<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XTimer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A087D7C1C36A6F600CF6B1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A087D951C36A6F600CF6B1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A087DA01C36A6F600CF6B1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
